.component {
  .box {
    position: relative;
    display: flex;
    gap: 20px;
    height: 300px;

    .left,
    .right {
      flex: 1;
      // border: 1px solid #f00;
      > div {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
